body {
  font-family: "Archivo", sans-serif;
  font-size: 22px;
  background-color: #FCFCF9;
  color: rgb(28,28,28);
  margin: 0;
  padding: 0;
  line-height: 37px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

header {
  background: linear-gradient(45deg, #4a0e4e, #0e1a4a);
  color: #fff;
  padding: 40px;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  width: 100%; /* Ensure the header spans the full width */
}
header h1 {
  font-family: "Orbitron", sans-serif;
  letter-spacing: -0.05em;
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
  font-style: oblique;
  margin: 0;
  color: #fff;
  text-shadow: 0 0 20px rgba(25, 25, 255, 0.8) !important;
  
}

nav {
  position: sticky;
  top: 0;
  padding: 10px 0;
  background-color: #fff; /* Light background */
  transition: background-color 0.3s;
  z-index: 1000; /* Ensure nav is above other content */
  width: 100%; /* Ensure nav spans the full width */
}

.dark-mode nav {
  background-color: #1a1a1a; /* Dark background */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap; /* Ensure the links stay on one line */
  white-space: nowrap; /* Prevent the links from wrapping */
}

nav ul li {
  margin: 0 15px;
}

nav ul li a, nav ul li button {
  color: transparent;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  background: linear-gradient(90deg, #1d4ed8, #9333ea, #d946ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: color 0.3s;
  position: relative;
}

nav ul li a:hover, nav ul li button:hover {
  color: #000; /* Change the color on hover for better visibility */
}
main {
  flex: 1;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 70px;
  transition: background-color 0.3s, color 0.3s;
}

h2 {
  font-family: "Archivo Black", sans-serif;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  margin: 50px auto;
  font-size: 3em;
  line-height: 0.8em;
  text-shadow: 0 0 5px rgba(25, 25, 255, 0.3) !important;
}

section {
  margin-bottom: 40px;
  transition: background-color 0.3s, color 0.3s;
}

.resource-section {
  margin-bottom: 30px;
  overflow: hidden;
}

.resource-image {
  width: 300px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  float: right;
  margin: 0 0 10px 10px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out, filter 0.3s ease-out, transform 0.3s ease-out;

}

.resource-image.appear {
  opacity: 1;
  transform: translateY(0);

}

.resource-image:hover {
  transform: translateY(0) scale(1.3); /* Enlarge by 10% on hover */
}


nav ul li a, nav ul li button {
  color: #000 !important; /* Ensure the text is visible in light mode */
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  background: linear-gradient(90deg, #1d4ed8, #9333ea, #d946ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: color 0.3s;
  position: relative;
}

nav ul li a:hover, nav ul li button:hover {
  color: #000 !important; /* Ensure the text is visible on hover in light mode */
}

.cta-button {
  display: inline-block;
  background: linear-gradient(90deg, #1d4ed8, #9333ea, #d946ef);
  color: #000 !important; /* Ensure the text is visible in light mode */
  padding: 15px 30px;
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border: 5px solid transparent; /* Transparent border for hover effect */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.cta-button:hover {
  background: linear-gradient(90deg, #9333ea, #d946ef, #1d4ed8);
  color: #000 !important; /* Ensure the text is visible on hover in light mode */
  border: 5px solid #fff; /* Visible border on hover */
}

.dark-mode nav ul li a, .dark-mode nav ul li button {
  color: #fff !important; /* Ensure the text is visible in dark mode */
  background: linear-gradient(90deg, #1d4ed8, #9333ea, #d946ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark-mode nav ul li a:hover, .dark-mode nav ul li button:hover {
  color: #fff !important; /* Ensure the text is visible on hover in dark mode */
}

.dark-mode .cta-button {
  color: #fff !important; /* Ensure the text is visible in dark mode */
}

.dark-mode .cta-button:hover {
  color: #fff !important; /* Ensure the text is visible on hover in dark mode */
}

/* General link styling adjustments to avoid affecting buttons */
a:not(.cta-button) {
  color: transparent;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
  background: linear-gradient(90deg, #1d4ed8, #9333ea, #d946ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:not(.cta-button)::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background: linear-gradient(to right, #4a0e4e, #0e1a4a); /* Deep purple to deep blue gradient */
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:not(.cta-button):hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  background-color: #1A1A1A;
  color: #e0e0e0;
}

.dark-mode header {
  background: linear-gradient(45deg, #0e1a4a, #4a0e4e);
}

.dark-mode main, .dark-mode section {
  background-color: #1a1a1a;
  color: #e0e0e0;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider:after {
  content: '☽';
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 26px;
}

input:checked + .slider:after {
  content: '☀';
  left: 10px;
  right: auto;
}

/* Light Mode Popup Styles */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: #000;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Link Styles for Main Content and Popup */
a {
  color: transparent;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
  background: linear-gradient(90deg, #1d4ed8, #9333ea, #d946ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background: linear-gradient(to right, #4a0e4e, #0e1a4a); /* Deep purple to deep blue gradient */
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Dark Mode Popup Styles */
.dark-mode .popup-content {
  background-color: #333;
  border: 1px solid #555;
  color: #e0e0e0;
}

.dark-mode .close {
  color: #777;
}

.dark-mode .close:hover,
.dark-mode .close:focus {
  color: #fff;
}

.dark-mode a {
  color: transparent;
  background: linear-gradient(90deg, #1d4ed8, #9333ea, #d946ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark-mode a::after {
  background: linear-gradient(to right, #0e1a4a, #4a0e4e); /* Deep blue to deep purple gradient */
}

.dark-mode .ierror {
  background-color: #3b0d0d; /* Adjust to reflect dark mode */
  border-left-color: #f56565; /* Adjust to reflect dark mode */
}

.dark-mode .iinfo {
  background-color: #433d00; /* Adjust to reflect dark mode */
  border-left-color: #ecc94b; /* Adjust to reflect dark mode */
}

/* Gradient 1: Hackerzy-Gradient1 */
.hackerzy-gradient1 {
  background: linear-gradient(90deg, #1d4ed8, #9333ea, #d946ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Gradient 2: Hackerzy-Gradient2 */
.hackerzy-gradient2 {
  background: linear-gradient(90deg, #06b6d4, #3b82f6, #1d4ed8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Gradient 3: Hackerzy-Gradient3 */
.hackerzy-gradient3 {
  background: linear-gradient(90deg, #f59e0b, #f97316, #ef4444);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span.hackerzy-gradient3 {
font-weight: 700;}


/* Styles for the popup container */
.popup-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 300px; /* Adjust width as needed */
  height: auto;
  overflow: hidden;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

/* Styles for the popup image */
.popup-image {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensures entire image is displayed */
}


.infobox {
  padding:20px;   
  border: 1px solid #eee;
  border-left-width: 0.3125rem;
  border-radius: 0.3125rem 0.1875rem 0.1875rem 0.3125rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative; /* Ensure relative positioning for absolute child */
  cursor: pointer; /* Change cursor to pointer to indicate interaction */
}

.ierror {
  background-color: #f4dddb;
  border-left-color: #c0392b;

}

.iinfo {
  background-color: #fdf5d4;
  border-left-color: #f1c40f;
  
}

#black-scenario {
overflow: hidden;
padding-top:10px;
margin-top:10px;
max-height: 40px; /* Initial height to hide paragraphs */
transition: max-height 4s ease-out; /* Smooth animation for expansion */
z-index: 1001; /* Ensure infobox is above overlay */
}

#black-scenario.expanded {
  max-height: 1000px; /* Expanded height to show all content */
}

body.overlay-active::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  z-index: 1000; /* Ensure overlay is on top of other content */
  pointer-events: none; /* Allow interaction with underlying elements */
}

/* Ensure the overlay does not cover #black-scenario */
#black-scenario {
  z-index: 1001; /* Ensure infobox is above overlay */
}

/* Hide the paragraph initially */
#black-scenario p {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Show the paragraph when infobox is hovered */
#black-scenario:hover p {
  opacity: 1;
}

.tiles-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
  gap: 20px;
  padding: 20px;
}

.tile {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.tile:hover {
  transform: translateY(-5px); /* Lift up on hover */
}

.tile-content {
  padding: 20px;
}

.tile p {
  font-size: 0.9em;
  color: #666;
  position: relative;
  transition: color 0.3s;
  color: transparent;
  text-decoration: none;
  background: linear-gradient(90deg, #1d4ed8, #9333ea, #d946ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tile p::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #1d4ed8, #9333ea, #d946ef);
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 0.3s;
  opacity: 0;
}

.tile p:hover::before {
  opacity: 1;
}

.tile-icon {

  font-size: 3em;
  text-align: center;
  margin: 0 auto;
  padding-top: 1em;
}

.neumorphic-button {
  background: #e0e0e0;
  border-radius: 12px;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
  color: #333;
  font-size: 1em;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.neumorphic-button:hover {
  box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
}